<div id="<%= dom_id blog %>">
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.content %></td>
    <td>
      <% blog.categories.each do |category| %>
        <%= category.name %>
      <% end %>
    </td>
    <td><%= blog.created_at %></td>
    <td><%= blog.updated_at %></td>
  </tr>
</div>
